table{
    border: 1px solid black;
    margin-bottom: 30px;
    border-collapse: collapse;
    font-weight: bold;
}
th{
    border:1px solid black;
}
td{
    border:1px solid black;
}
#pic1{
    text-align: center;
    background-color: white;
}
#pic2{
    text-align: center;
    background-color: white;
}
#pic3{
    text-align: center;
    background-color: white;
}
tr:nth-child(odd){
    background-color: lightgrey;
}
tr:nth-child(even){
    background-color: mediumorchid;
}
#table2 tr:nth-child(even){
    background-color: yellow;
}
#table2 tr:nth-child(odd){
    background-color: cyan;
}
#table2{
    text-align: center;
}
#table1 .last:hover{
    background-color: red;
}